<%= simple_form_for @job, :method => :post, html: { class: 'form-horizontal' },wrapper: :horizontal_form do |f| %>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :unregistered_company_name, :label => "Company name", :autofocus => true %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :title, :label => "Job title" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :job_type, collection: ["Full-time", "Part-time", "Internship", "Student", "Co-founder", "Freelance"], :label => "Job Type" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :description, as: :text, :label => "Job Description", as: :trix_editor %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :role, collection: ["Fullstack Developer", "Backend Developer", "Frontend Developer", "Engineer", "IOS Developer", "Android Developer", "Designer", "Business Developer", "Data Science", "Customer Service", "Project Management", "Sales", "Marketing", "Consulting", "Other"], :label => "Role" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :email, :label => "Recruiter Email" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :salary, collection: ["Paid", "Unpaid", "Commission"], :label => "Salary" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :location, :label => "Location" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :keywords, :label => "Job Keywords" %>
    </div>
  </div>

  <div class="form-group label-adjust">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :job_application_type, as: :radio_buttons, collection: [['Apply By Email', 'Email', checked: true ], ['Apply By Url', 'Url' ]], :label => "How to apply" %>
    </div>
  </div>

  <div class="form-group show-job-email" >
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :job_email, :label => "Job Email" %>
    </div>
  </div>

  <div class="form-group form-group--inactive show-job-url">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :job_url, :label => "Job Url" %>
    </div>
  </div>

  <div class="form-group upload-margin label-adjust">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :unregistered_company_logo, :label => "Company Logo" %>
      <%= f.input :unregistered_company_logo_cache, as: :hidden, :value => params[:unregistered_company_logo] %>
    </div>
  </div>

  <div class="form-group upload-margin label-adjust">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :unregistered_company_photo, :label => "Company Photo" %>
      <%= f.input :unregistered_company_photo_cache, as: :hidden %>
    </div>
  </div>


  <h2 class="style-section perk-margin">Perks & Benefits</h2>
  <p1>Select perks and benefits that your company offers to employees</p1>
  <div class="form-group flex-form upload-margin">
    <div class="col-md-9">
      <div class="category-choices">
        <% Perk.all.each do |perk| %>
        <input type="checkbox", class="hidden" value="<%= perk.id %>" name="job[perk_ids][]" id="job_perk_ids_<%= perk.id %>"/>
        <label class="category-choice" for="job_perk_ids_<%= perk.id %>">
         <% case perk.name %>
         <% when "Friday Bars" %>
         <i class="fa fa-beer fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Lunch" %>
         <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Skill Development" %>
         <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Coffee" %>
         <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Health Insurance" %>
         <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Games & Hangouts" %>
         <i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Occasional Remote Work" %>
         <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Paid Vacation" %>
         <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Equity & Stock Options" %>
         <i class="fa fa-money fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Company Retreats" %>
         <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Maternity & Paternity Leave" %>
         <i class="fa fa-child fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pension Plan" %>
         <i class="fa fa-home fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Career Progression" %>
         <i class="fa fa-black-tie fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Flexible Work Hours" %>
         <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pet Friendly Office" %>
         <i class="fa fa-paw fa-3x" aria-hidden="true"></i>
         <br>
         <% end %>
         <%= perk.name %>
        </label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9 text-center" style="margin-top: 110px;">
      <%= f.button :submit , name: "previewButt", value: "Preview", formtarget:"_blank", data: { disable_with: false } %>
      <%= f.button :submit , name: "createButt", value: "Post Job", class: "btn btn-success post-btn", data: { disable_with: false } %>
    </div>
    <div class="col-md-9" style="margin-top: 80px;">
      <p style="color: gray;">Click <strong>Preview</strong> to see how your job posting would appear to applicants. The preview would open in a new tab. Return back to this page to <strong>Post job</strong> or make <strong>Edits</strong>.</p>
    </div>
  </div>
<% end %>
