<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= simple_form_for @applicant, :url => job_applicants_path(@job, @applicant), :method => :post do |f| %>
      <div class="modal-body">
      <p>Create a Job</p>
    <%= f.input :full_name, label: "Full Name" %>
    <%= f.input :email, label: "Email" %>
    <%= f.input :mobile_number, label: "Mobile Number" %>
    <%= f.input :resume %>
    <%= f.input :resume_cache, as: :hidden  %>
    <%= f.input :cover_letter, as: :text, label: "Cover Letter" %>
    <%= f.submit 'Create', class: "btn btn-success" %>

      </div>
      <div class="modal-footer">

      </div>
      <% end %>
    </div>
  </div>
</div>
