<% @jobs.each do |job| %>
<div class="job-bar">
  <div class="logo">
  <%= link_to company_path(job.company) do %>
    <%= image_tag job.company.logo, class: "company-logo" %>
  <% end %>
  </div>
  <%= link_to company_job_path(job.company, job), class: "text" do %>
  <div class="job-title">
    <%= job.title %>
  </div><span class="company-name"><%= job.company.name %></span>
  <% end %>
  <div class="details hidden-xs">
    <div class="job-description">
      <%= job.job_type %><br><%= job.salary %>
    </div>
  </div>
</div>
<% end %>
