<div class="container">
  <div class="row perk-margin">
    <div class="col-md-3">

      <%= search_form_for @search, :class => 'jobs_search' do |f| %>
        <%= f.search_field :salary_or_job_type_or_title_cont, placeholder: "search" %>
      <% end %>

      <div class="filter-style">
        <h4>Roles</h4>
      <% new_roles = [] %>
      <%= search_form_for @search, :class => 'filters_click' do |f| %>
        <% @jobs.each do |job| %>
          <% new_roles << job.role %>
        <% end %>

        <% new_roles.uniq.each do |new_role| %>
          <div class="styled-input-container">
            <%= check_box_tag('q[role_eq_any][]', new_role) %>
            <%= new_role %>
          </div>
        <% end %>
      <% end %>
      </div>

      <div class="filter-style">
        <h4>Type</h4>
      <% new_roles = [] %>
      <%= search_form_for @search, :class => 'filters_click' do |f| %>
        <% @jobs.each do |job| %>
          <% new_roles << job.job_type %>
        <% end %>

        <% new_roles.uniq.each do |new_role| %>
          <div class="styled-input-container">
            <%= check_box_tag('q[job_type_eq_any][]', new_role) %>
            <%= new_role %>
          </div>
        <% end %>
      <% end %>

    </div>

      <div class="filter-style">
        <h4>Salary</h4>
      <% new_roles = [] %>
      <%= search_form_for @search, :class => 'filters_click' do |f| %>
        <% @jobs.each do |job| %>
          <% new_roles << job.salary %>
        <% end %>

        <% new_roles.uniq.each do |new_role| %>
          <div class="styled-input-container">
            <%= check_box_tag('q[salary_eq_any][]', new_role) %>
            <%= new_role %>
          </div>
        <% end %>
      <% end %>

      </div>
    </div>

  <div class="col-md-8">
    <div class="jobs"><%= render 'jobs' %></div>
  </div>
  </div>
</div>
