  <div class="card" style="height: 500px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @company.photo %>');">
    <div class="job-card">
      <%= image_tag @company.logo, class: "show-logo" %>
      <h1><%= @company.name %></h1>
      <h3 style="color: #5DB1D1";><%= @company.location %></h3>
      <h3><%= @company.address %></h3>
    </div>
  </div>

  <div class="container">
    <div style="margin-top: 60px;" class="col-md-6">
       <%= sanitize @company.description %>
     </div>

      <div style="margin-top: 40px;" class="col-md-12">
        <% if @company.website %>
          <%= link_to "Website", @company.website, :target => "_blank", :class=>"btn btn-success" %>
        <% end %>
      </div>


     <div class="col-md-10" style="margin-top: 40px; background-color: #5DB1D1; margin-bottom: 140px;">
       <% if @company.jobs %>
       <h4 class="style-section">Open positions at <%= @company.name %></h4>
       <% @company.jobs.each do |job| %>
       <div class="job-bar">
        <div class="logo">
          <%= link_to company_path(job.company) do %>
          <%= image_tag @company.logo, class: "company-logo" %>
          <% end %>
        </div>
        <%= link_to company_job_path(job.company, job), class: "text" do %>
        <div class="job-title">
          <%= job.title %>
        </div><span class="company-name"><%= job.company.name %></span>
        <% end %>
        <div class="details hidden-xs">
          <div class="job-description">
            <%= job.job_type %><br><%= job.salary %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>



  <div class="flex-form">
    <div class="col-md-12">
  <h2 class=style-section>Perks & Benefits at <%= @company.name %></h2>
      <div class="category-choices">
        <% @company.perks.each do |perk| %>
        <div class="category-choice">
         <% case perk.name %>
         <% when "Friday Bars" %>
         <i class="fa fa-beer fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Lunch" %>
         <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Skill Development" %>
         <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Coffee" %>
         <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Health Insurance" %>
         <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Games & Hangouts" %>
         <i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Occasional Remote Work" %>
         <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Paid Vacation" %>
         <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Equity & Stock Options" %>
         <i class="fa fa-money fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Company Retreats" %>
         <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Maternity & Paternity Leave" %>
         <i class="fa fa-child fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pension Plan" %>
         <i class="fa fa-home fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Career Progression" %>
         <i class="fa fa-black-tie fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Flexible Work Hours" %>
         <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pet Friendly Office" %>
         <i class="fa fa-paw fa-3x" aria-hidden="true"></i>
         <br>
         <% end %>
         <%= perk.name %>
       </div>
       <% end %>
     </div>
   </div>
 </div>



  </div>


