<div class="container">
  <h2 class=style-section>Company Profile</h2>
  <div class="main-body">
    <%= simple_form_for [@company], html: { class: 'form-horizontal' },wrapper: :horizontal_form do |f| %>
    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
       <%= f.input :name,  :label => "Name of Company" %>
     </div>
   </div>

   <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :description, as: :text, :label => "What do you do", as: :summernote %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :website, :label => "Website" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :location, :label => "City" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-9">
      <%= f.input :address, :label => "Address" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label">Industries</label>

    <div class="col-md-9 col-md-offset-3">
      <div class="industry-choices">

        <% Industry.all.each do |industry| %>
        <div class="styled-input-container styled-input--rounded">
          <div class="styled-input-single">

            <input type="checkbox" value="<%= industry.id %>" name="company[industry_ids][]" id="company_industry_ids_<%= industry.id %>"/>
            <label for="company_industry_ids_<%= industry.id %>"Industry>
              <%= industry.name %>
            </label>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <h2 class=style-section>Perks & Benefits</h2>

  <div class="form-group flex-form">
    <div class="col-md-9">
      <div class="category-choices">
        <% Perk.all.each do |perk| %>
        <input type="checkbox", class="hidden" value="<%= perk.id %>" name="company[perk_ids][]" id="company_perk_ids_<%= perk.id %>"/>
        <label class="category-choice" for="company_perk_ids_<%= perk.id %>">
         <% case perk.name %>
         <% when "Friday Bars" %>
         <i class="fa fa-beer fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Lunch" %>
         <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Skill Development" %>
         <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Free Coffee" %>
         <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Health Insurance" %>
         <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Games & Hangouts" %>
         <i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Occasional Remote Work" %>
         <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Paid Vacation" %>
         <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Equity & Stock Options" %>
         <i class="fa fa-money fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Company Retreats" %>
         <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Maternity & Paternity Leave" %>
         <i class="fa fa-child fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pension Plan" %>
         <i class="fa fa-home fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Career Progression" %>
         <i class="fa fa-black-tie fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Flexible Working Hours" %>
         <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
         <br>
         <% when "Pet Friendly Office" %>
         <i class="fa fa-paw fa-3x" aria-hidden="true"></i>
         <br>
         <% end %>
         <%= perk.name %>
       </label>
       <% end %>
     </div>
   </div>
 </div>


 <h2 class=style-section>Image Upload</h2>
 <p1>In this section, you essentially display your company's swagger.<br />
 Upload your company's best images and make it look smashing</p1>

 <div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :photo, :label => "Cover Image", wrapper_html: { class: 'photo-style' }  %>
    <%= f.input :photo_cache, as: :hidden %>
    <p1>Upload a broad image that represents your company</p1>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :logo, :label => "Company Logo", wrapper_html: { class: 'photo-style' }  %>
    <%= f.input :photo_cache, as: :hidden %>
    <p1>Upload Company logo</p1>
  </div>
</div>


<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.submit 'Create', class: "btn btn-success" %>

  </div>
</div>




<!-- Employment Input -->
<% end %>
</form>
</div>
</div>


