<h2 class=style-section>Company Profile</h2>
<div class="container">
  <div class="main-body">
    <%= simple_form_for [@company], html: { class: 'form-horizontal' },wrapper: :horizontal_form do |f| %>
      <div class="form-group">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-9">
           <%= f.input :name,  :label => "Name of Company" %>
        </div>
      </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :description, as: :text, :label => "What do you do", as: :summernote %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :website, :label => "Website" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :location, :label => "City" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :address, :label => "Address" %>
      </div>
    </div>

<div class="form-group">
  <label id="LABEL_2">
    Select your industry / industries:
  </label>
  <div id="DIV_3">
    <label id="LABEL_4">
      <input type="checkbox" id="INPUT_5" />Consumer Goods
    </label>
    <label id="LABEL_6">
      <input type="checkbox" id="INPUT_7" />Education
    </label>
    <label id="LABEL_8">
      <input type="checkbox" id="INPUT_9" />Energy &amp; Greentech
    </label>
    <label id="LABEL_10">
      <input type="checkbox" id="INPUT_11" />Entertainment
    </label>
    <label id="LABEL_12">
      <input type="checkbox" id="INPUT_13" />Finance
    </label>
    <label id="LABEL_14">
      <input type="checkbox" id="INPUT_15" />Healthcare
    </label>
    <label id="LABEL_16">
      <input type="checkbox" id="INPUT_17" />High Tech
    </label>
    <label id="LABEL_18">
      <input type="checkbox" id="INPUT_19" />Impact Tech
    </label>
    <label id="LABEL_20">
      <input type="checkbox" id="INPUT_21" />IT &amp; Software
    </label>
    <label id="LABEL_22">
      <input type="checkbox" id="INPUT_23" />Media
    </label>
    <label id="LABEL_24">
      <input type="checkbox" id="INPUT_25" />Saas
    </label>
    <label id="LABEL_26">
      <input type="checkbox" id="INPUT_27" />Service
    </label>
    <label id="LABEL_28">
      <input type="checkbox" id="INPUT_29" />Other
    </label><span id="SPAN_30"></span>
  </div>
</div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
          <%= f.submit 'Create', class: "btn btn-success" %>

      </div>
    </div>




      <!-- Employment Input -->
        <% end %>
      </form>
    </div>
  </div>


